@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background: linear-gradient(to right, #ffecd2, #fcb69f, #ff9a9e, #fad0c4);
  background-size: 400% 400%;
  animation: gradientShift 10s ease infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.game-box {
  height: 65rem;
  width: 100rem;
  background-color: rgba(255, 255, 255, 0.281);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
  position: relative;
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}
.player--name {
  font-weight: 300;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin-bottom: 2rem;
}
.player--total-score {
  font-size: 7rem;
  color: crimson;
  margin-bottom: auto;
}

.current-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  transition: all 0.75s;
  color: #ffff;
  background-color: #fd868a;
}
.current-score--label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
}
.current-score--score {
  font-size: 2rem;
}

.copyright {
  font-size: 1.5rem;
  color: #333;
}

.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}
.btn:hover {
  transform: translate(-50%, -3px);
}
.btn:active {
  transform: translateX(-50%);
}

.btn--new {
  top: 4rem;
}
.btn--rolldice {
  top: 39.3rem;
}
.btn--hold {
  top: 46.1rem;
}

.player--active {
  background-color: #ffecd2;
}

.player--win {
  background-color: #333;
  color: snow;
}
.player--win .player--name {
  font-weight: 700;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.hidden {
  display: none;
}
